body {
    font-family: 'Cairo', sans-serif;
}

.ficons {
    background-color: #2d3e50;
    color: white;
    height: 30px;
}

.list {
    display: flex;
    flex-direction: row;
    text-align: center;
    color: white
}

.list-unstyled i {
    display: inline-block;
    margin-right: 10px;
    padding-left: 5px;
}


/* start sec nav */

.border-bottom {
    border-bottom: 2px solid red!important;
}

nav img {
    width: 150px;
}

.nav-item h6 {
    color: #9aa1a9;
}

.item {
    padding-left: 50px;
}

.navbar-light .navbar-nav .nav-link {
    color: #99a0a8;
}

.bn {
    border-radius: 10px;
    background-color: #233142;
    color: white
}


/* nav img {
    width: 150px;
}

.item {
    padding-left: 50px;
}

.bn {
    border-radius: 10px;
    background-color: #233142;
    color: white
} */


/* start intro */

.intro {
    background-image: url(../assets/imgs/header1-ltr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;
}

.intro h3 {
    padding-top: 10%;
}

.intro p {
    width: 35%;
    line-height: 2.3;
    text-align: justify;
    color: #363434cf;
}

.intro-btn {
    background-color: #233142;
    border: none;
    outline: none;
    width: 150px;
}


/* start main  */

.main {
    background-image: url(../assets/imgs/subtle-pattern-1.jpg);
    background-size: cover;
}

.main-desc {
    line-height: 2.3;
    text-align: justify;
    color: #363434cf;
    text-align: center;
}


/* start services */

.our-services h3 {
    border-bottom: 2px solid #ac0f11;
    width: 10%;
    color: #ac0f11;
    padding-bottom: 10px;
}

h5 {
    color: #ac0f11;
}


/* start main */

.detailes h3 {
    text-align: center;
    width: 200px;
    font-weight: bold;
    color: #ac0f11;
    border-bottom: 2px solid #ac0f11;
    margin: 0 auto;
}

.type {
    decoration: new BoxDecoration;
    color: color;
    border: all;
    width: 120px;
    height: 120px;
    border: 1px solid none;
    border-radius: 50%;
    background-color: #f8f8f8;
    text-align: left;
    margin-top: 7px;
}

.type h1 {
    text-align: center;
    padding-top: 12px;
    line-height: 68px;
    margin-right: 4px;
    font-weight: bolder;
}


/* .info p {
line-height: 2.5;
text-align: justify;
} */

.data p {
    line-height: 2.5;
}

.box {
    background-color: white;
    border-radius: 0 100px 100px 0;
    margin-top: 10px;
}

.action {
    width: 240px;
    margin-left: 0;
}

.action .btn {
    background-color: #f6f6f6;
    border-radius: 0;
    border: none;
    color: rgb(17, 14, 14);
    width: 100%;
    padding: 20px 0;
}

.action .act {
    background-color: #233142;
    color: white;
}

.info-btn {
    background-color: #2d3e50;
    border: none;
    width: 170px;
    margin: auto;
    display: block;
    margin-top: 10px;
}


/* start call-us */

.call-us {
    background-image: url(../assets/imgs/call-ltr.jpg);
    margin-top: 10px;
    background-size: cover;
    padding-bottom: 30px;
    width: 100%;
}

.call-a {
    color: #ac0f11;
    border-bottom: 2px solid #ac0f11;
    width: 10%;
    text-align: center;
    padding-top: 30px;
}

.call-link {
    position: relative;
    padding-bottom: 60px;
}

.call-link .btn {
    border-radius: 40px;
    display: inline-block;
    width: 220px;
    position: absolute;
    left: 10px
}

.call-link img {
    width: 55px;
    position: absolute;
}


/* start mobile */

.mobile {
    background-image: url(../assets/imgs/BG-phone.png);
    background-size: contain;
}

.mobile h3 {
    color: #494243;
}

.mob {
    padding-right: 30px;
}

.mob p {
    line-height: 2.4;
    color: gray;
}

.mobile-img {
    display: flex;
    flex-direction: row;
    width: 150px;
    margin-right: 60px;
    padding-top: 10px;
    padding-left: 10px;
}

.mobile-img .sec {
    padding-right: 10px;
}


/* start footer */

footer {
    background-color: #1a1f25;
}

footer p {
    text-align: justify;
}

.sec-footer {
    background-color: #14171c;
}

.sec-footer li {
    color: white;
    display: inline-block;
}


/* start login */


/* first nav */

.li-login {
    color: #ffc107;
}

.login {
    background-color: #fbfbfb;
}

.form-control {
    margin-bottom: 20px;
    background-color: #fbfbfb;
    height: 60px;
    border-radius: 0;
}

.log {
    background-color: white;
    border: 1.5px solid rgb(207, 204, 204);
    padding: 40px;
}

.log-btn {
    text-align: center;
    margin-top: 10px;
}

.log-btn .btn {
    padding: 10px 160px;
    border-radius: 0;
    background-color: #3ab54a;
    border: 2px solid rgb(207, 204, 204);
    font-size: 25px;
}


/* start log */

.log-brand {
    text-align: center;
}

.log-a img {
    width: 30px;
}

.log-a {
    display: flex;
    flex-direction: row;
}

.log-btn .log-b2 {
    background-color: #2d3e50;
    padding: 10px 100px;
}

.pag-list a {
    color: #2d3e50;
}

.page-item.active .page-link {
    color: white;
    background-color: #2d3e50;
}

.pag-list {
    padding-right: 230px;
}


/* start home */

.name {
    color: #ffc107;
}